ENABLE_MIGRATION=false

STATS_HOST=192.168.1.11
STATS_PORT=8125

DB_MOCK=false
DB_HOST=192.168.1.11
DB_USER=myuser
DB_PASSWORD=mypassword
DB_NAME=mydb

FILE_STORAGE_MOCK=true
S3_ACCESS_KEY=replace-me-access-key
S3_SECRET_KEY=replace-me-secret-key
S3_REGION=garage
S3_HOST=http://192.168.1.11:3900

STATS_MOCK=false

RUST_LOG=info
LOG_JSON=false