ENABLE_MIGRATION=false

STATS_HOST=192.168.1.3
STATS_PORT=8125

DB_HOST=192.168.1.3
DB_USER=myuser
DB_PASSWORD=mypassword
DB_NAME=mydb

STATS_MOCK=false
DB_MOCK=false

RUST_LOG=info
LOG_JSON=false
FILE_STORAGE_MOCK=true